.mainContainer {
    background-color: #EEEEEE;;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subcontainer{
    background-color: white;
    width: 70%;
}


.line{
    border: 1px solid #EEEEEE;
    width: 95%;
}