.mainContainer {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 70%;
    height: 100%;
}

.subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subcontainerRight{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    padding-left: 5%;
    max-width: 47%;
}

.text{
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.title{
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    max-width: 90%;
}

.amount{
    font-size: 46px;
    margin-top: 32px;
    margin-bottom: 32pxpx;
}

.descriptionContainer{
    margin-left: 32px;
}

.description{
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.descriptionTitle{
    font-size: 28px;
    margin: 0px;
}

.buyButton{
    background-color: #3483FA;
    border: none;
    color:#FFFFFF;
    padding: 4% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-right: 32px;
}