.error{
    display: flex;
    justify-content: center;
}

.mainContainer {
    background-color: #EEEEEE;;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    height: 100%;
}

.categoryName{
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #999999;
    align-self: flex-start;
    margin-left: 15%;
}
